*{
    padding: 0;
    margin: 0;
    box-sizing: border-box;
    font-family: sans-serif;
    color: var(--color-white)!important;
    scroll-behavior: smooth;
    scroll-margin-top: 100px;
}

:root{
    --color-hover-yellow:rgb(201, 134, 2);
    --color-yellow:rgb(216, 153, 38);
    --color-white: #faf7f7;
    --color-ash: rgb(176, 171, 171);
    --color-nav-text:rgb(214, 211, 211);
    --color-dark:#1B262C;
    --color-black:#101C23;
    --color-bg:#031119;
    --color-navy:#0D1D26;
    --width-common:88%;
}

.app-container{
    background-color: var(--color-bg);
}

.scroll-down{
    position: fixed;
    bottom: 30px;
    right: 30px;
    opacity: 0; 
    pointer-events: none;
    transition: opacity 0.5s ease-in-out;
    z-index: 10000;
}

.scroll-down.visible {
    opacity: 1;
    pointer-events: auto;
}

.scroll-down>i{
    background-color: var(--color-yellow);
    border-radius: 50%;
    font-size: 26px;
    padding: 8px;
}

#scrolldownArrow:hover{
    background-color: var(--color-hover-yellow);
}

.header-container{
   display: flex;
   justify-content: center;
   align-items: center;
   position: sticky;
    top: 0;
    z-index: 100000;
}

a{
    color: var(--color-nav-text) !important;
}

button>a,.navbar-brand{
    color: var(--color-white) !important;
}

#navBar{
    background-color: var(--color-dark) !important;
    border-radius: 40px;
    width: var(--width-common);
    padding: 18px !important;
    
}

#navbarToggler,
#navbarToggler:focus,
#navbarToggler:active,
#navbarToggler:focus-visible,
#navbarToggler:focus-within {
    border: none !important;
    outline: none !important;
    box-shadow: none !important;
}


.getstarted-btn{
    background-color: var(--color-yellow);
    border: 0;
    border-radius: 20px;
}

.getstarted-btn a{
    display: inline-block;
    padding: 6px 12px;
    color: var(--color-white);
    font-weight: 500;
    text-decoration: none;
}

#navbarToggler{
    border: none !important;
    outline: none !important;
}

#navbarTogglerIcon{
    background-image: url('assets/images/nav-sandwitch-bar-white.svg') !important;
}

.dropdown-item:hover{
    background-color: transparent !important;
    color: var(--color-yellow) !important;
}

.dropdown-menu{
    background-color: var(--color-dark) !important;
}

.dropdown-menu .dropdown-menu {
  margin-left: 0.1rem;
  left: 100%;
  top: 0;
}

.dropend:hover > .dropdown-menu {
    display: block;
    top: 0;
    left: 100%;
    margin-top: 0;
    border-radius: 10px;
    width: fit-content;
}

.dropend .dropdown-menu {
    top: 0;
    left: 100%;
    margin-left: 0.1rem;
    display: none;
    position: absolute;
}

.nav-link:hover{
    color: var(--color-yellow) !important;
}

/* MAIN CONTAINER STYILING */
.main-container {
    display: flex;
    flex-direction: column;
    align-items: center;

}

.main-container>section{
    width:var(--width-common);
    padding: 50px 0px;
}

.home-top>h1{
    font-size: clamp(40px,6vw,100px)!important;
    font-weight: bold;
}

.home-top>p{
    color: var(--color-nav-text)!important;
}

.explore-services-btn{
    background-color: transparent;
    border: 1px solid var(--color-nav-text);
    padding: 14px 32px;
    border-radius: 35px;
    transition: all 0.4s ease-in-out;
}

.explore-services-btn>a{
    text-decoration: none;
    font-size: 90%;
    font-weight: bold;
    color: var(--color-nav-text) !important;
}

.explore-services-btn>i{
    transition: all 0.8s ease-in-out;
    color: var(--color-nav-text) !important;
    font-size: 120%;
}

.explore-services-btn:hover{
    background-color: var(--color-yellow);
}

.explore-services-btn:hover a{
    color: var(--color-white) !important;
}

.explore-services-btn:hover i{
    color: var(--color-white) !important;
    display: inline-block;
    transform: translateX(10px);
}

.img-container{
 position: relative;
}

.abstract-img{
    width: 95%;
    height: 75%;
    animation: float-up-down 3s ease-in-out infinite;
    
}

@keyframes float-up-down {
    0%,100%{
        transform: translateY(0);
    }
    50%{
        transform: translateY(3%);
    }
    
}

.campaign-container{
    background-color: var(--color-black);
    border-radius: 10px;
    border: 1px solid var(--color-dark);
    padding: clamp(10px,3%,13px) clamp(16px, 5%,26px);
    display: flex;
    flex-direction: column;
}

.campaign-top{
    display: flex;
    justify-content: space-between;
    align-items: center;
}

.campaign-top>span{
    font-size: 50px;
}

.campaign-container>p{
    color:var(--color-ash) !important;
}

.portfolio-link>i{
    display: inline-block;
    padding: 5px 9px;
    background-color: var(--color-yellow);
    border-radius: 50%;
    transition: all 0.5s ease-in-out;
}

.portfolio-link>i:hover{
    transform: translateY(-7px);
    background-color: rgb(182, 127, 69);
}


/* about section */

.head-line {
    font-size: 14px;
    color: var(--color-nav-text) !important;
    font-weight: bold;
    letter-spacing: 1.5px;
    line-height: 1px;
}

.head-line::after{
    content:"";
    display: inline-block;
    width: 120px;
    height: 1px;
    background-color: var(--color-yellow);
    margin: 4px 10px;
}

section>h2,.testimonial-container>h2{
    font-weight: bold;
}

.about-content-container{
    width: 100%;
    height: fit-content;
}

#Row{
    --bs-gutter-x:0;
    margin: 7% 0;
}

.img-content-container{
    width: 90%;
    padding: 0!important;
    position: relative;
    height: fit-content;
}

.img-fluid{
    border-radius: 20px !important;
}

.experience-badge{
    background-color: var(--color-yellow);
    padding: 12px 26px 20px 26px;
    border-radius: 10px;
    width: max-content;
    height: max-content;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    position: absolute;
    bottom: 20px;
    right: 10px;
}


.experience-num{
    font-size: 36px;
    font-weight: bold;
    
}


.about-context>h2,.clients-section>h2{
    font-weight: bold;
    font-size: clamp(28px,5vw,38px);
}

.about-context-para1{
    font-size: 20px;
    color: var(--color-ash)!important;
    font-weight: 0 !important;
}

.about-context-para2, .about-card>p, .clients-section>p{
    font-size: 17px;
    color: var(--color-nav-text)!important;
}

.about-cards{
    padding: 20px 0;
}

.about-card>h5{
    font-size: 20px;
}

.about-card{
    background-color: var(--color-dark);
    border-radius: 12px;
    padding: 18px;
    height: 100%;
    transition: all 0.5s ease-in-out;
}

.about-card:hover{
    transform: translateY(-15px);
}

.about-card i{
    color: var(--color-yellow) !important;
    font-size: 30px;
    padding-bottom: 10px !important;
    display: inline-block;
}

.abt-explore-service-btn{
    background-color: var(--color-yellow);
    padding: 10px 32px;
    border-radius: 35px;
    transition: all 0.4s ease-in-out;
}

.abt-explore-service-btn:hover{
    background-color: var(--color-hover-yellow);
}

.abt-explore-service-btn>a{
    text-decoration: none;
}

.arrow-container i{
    color: var(--color-dark) !important;
    font-size: 40px;
    transition: all 0.5s ease-in-out;
}

.arrow-container i:hover{
    color: var(--color-yellow) !important;
    cursor: pointer;
}

.star-container>i{
    color: var(--color-yellow) !important;
}

.client-testimonial{
    display: flex;
    width: max-content;
}

.client-testimonial>img{
    height: 60px;
    width: 60px;
    border-radius: 50%;
}

.testimonial-context{
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: flex-start;
}

.testimonial-context>h6{
    font-weight: bold;
    font-size: 16px;
}

.testimonial-context>span{
    font-size: 12px;
    color: var(--color-ash) !important;
}

.client-cards{
    overflow: hidden;
    position: relative;
}

.carousel-track {
  display: flex;
  transition: transform 2s ease-in-out;
  width: max-content;
  height: fit-content !important;
  gap: 1rem;
  overflow: hidden;
  padding: 20px;
}

.each-card {
  flex: 0 0 clamp(200px,14%,350px);
  background-color: var(--color-dark);
    border-radius: 10px;
    padding: 20px;
}


/* services section */
.service-context{
    padding: 10% 0;
    display: flex;
    justify-content: space-between;
    align-items: center;
}

.service-context>h3{
    font-size: clamp(26px,5vw,56px);
    font-weight: bold;
}

.service-context span{
    color: var(--color-yellow)!important;
}

#svcViewServices{
    background-color: var(--color-yellow) !important;
    border-radius: 5px ;
    border: none;
}

#svcViewServices:hover{
    background-color: var(--color-hover-yellow) !important;
}

#svcViewServices>a,#svcViewServices>i{
    color: var(--color-white) !important;
}

.service-content>p,.each-service-card>p{
    color: var(--color-nav-text)!important;
}

.service-cards{
    row-gap:30px
}

.service-card-wrapper{
    position: relative;
}

.each-service-card{
    margin: 5px;
    padding: clamp(25px,10%,40px);
    height: 100%;
    border: 2px solid var(--color-dark);
    transition: all 0.5s ease-in-out;
}

.each-service-card>h4{
    font-size: 25px;
    font-weight: bold;
    padding: 26px 0 18px 0;
    transition: all 0.5s ease-in-out;
}


.service-card-wrapper:hover .each-service-card{
  background-color: var(--color-dark);
  clip-path: polygon(0 0, 70% 0, 100% 30%, 100% 100%, 0 100%);
  cursor: pointer;
}

.service-card-wrapper:hover .service-arrow-container{
    animation: move-service-arrowin 0.5s ease-in-out forwards;
}

.service-card-wrapper:not(:hover) .service-arrow-container {
  animation: move-service-arrowout 0.5s ease-in-out forwards;
}

@keyframes move-service-arrowin {
    from {
        opacity: 0;
    transform: translateY(50px); /* starts lower */
  }
  to {
    opacity: 1;
    transform: translateY(0); /* moves up to original position */
  }
}

@keyframes move-service-arrowout {
    from {
        opacity: 1;
    transform: translateY(0); /* starts lower */
  }
  to {
    opacity: 0;
    transform: translateY(50px); /* moves up to original position */
  }
}

.each-service-card:hover i{
    transform: scale(1.15);
}

.each-service-card:hover h4{
    color: var(--color-yellow) !important;
}

.service-icon-container{
    width: 72px;
    height: 72px;
    background-color: #1A1F1A;
    border-radius: 10px;
    display: flex;
    justify-content: center;
    align-items: center;
}

.service-icon-container>i{
    font-size: 36px;
    color: var(--color-yellow) !important;
    display: inline-block;
    transition: all 0.5s ease-in-out;
}


.service-arrow-container{
    height: 90px;
    width: 90px;
    background-color: var(--color-yellow);
    border-radius: 50%;
    display: flex;
    justify-content: center;
    align-items: center;
    position: absolute;
    top: 5px;
    right: 20px;
    z-index: 1500;
    transition: all 0.5s ease-in-out;
    opacity: 0;
    cursor: pointer;
}

.service-arrow-container>i{
    display: inline-block;
    font-size: 150%;
  transition: transform 0.5s ease-in-out;
}

.service-arrow-container:hover i{
    transform: rotate(45deg);
}


/* steps section */

.steps-wrapper{
    padding: 2rem 0px;
    margin: 5rem 0;
    display: flex;
    flex-direction: column;
    row-gap: 45px;
    position: relative;
}

.steps-wrapper::before{
    content: '';
    position: absolute;
    width: 2px;
    height: 100%;
    top: 0;
    bottom: 0;
    left: 50%;
    background-color: rgb(61, 60, 60);
}


.step-card{
    display: flex;
    column-gap: 26px;
    align-items: center;
    position: relative;
    z-index: 3;
}

.step-icon>i{
    padding: clamp(15px,2%,24px);
    background-color: var(--color-dark);
    border-radius: 50%;
    border: 2px solid rgb(69, 51, 16);
    font-size: clamp(20px,180%,55px);
    color: var(--color-yellow) !important;
}

.step-info{
    background-color: var(--color-dark);
    flex-grow: 2;
    padding: 24px;
    border-radius: 10px;
}

.step-info>span{
    color: var(--color-yellow) !important;
}

.step-info>h3{
    font-size: 24px;
    padding: 10px 0 7px 0;
    font-weight: bold;
}

.step-info>p{
    color: var(--color-ash)!important;
}

/* call-to-action-section */

#callToAction{
    background-color: #0A1519;
    width: 100%;
    display: flex;
    justify-content: center;
    position: relative;
    z-index: 0;
}
.call-to-action{
    width: var(--width-common);
    position: relative;
}

.context-container-primary{
    position: relative;
    z-index: 10;
}

.context-container-primary>span{
    display: inline-block;
    padding: 8px 16px;
    color: var(--color-yellow) !important;
    background-color: var(--color-dark);
    font-size: 14px;
    border-radius: 20px;
}

.context-container-primary>h2{
    font-size: clamp(1.75rem, 3vw, 2.45rem);
    font-weight: bold;
}

.context-container-primary>p{
    color: var(--color-ash)!important;
    font-size: clamp(14px,2vw,17.5px);
}

.feature-item{
    font-size: 16px;
    background-color: var(--color-dark);
    padding: 10px 16px;
    border-radius: 10px;
    display: flex;
    align-items: center;
}

.feature-item,.cta-btns>a{
    margin-bottom: 20px;
    color:#ffffff !important;
    transition: all 0.5s ease-in-out;
    width: max-content;
}

.feature-item:hover{
    transform: translateY(-4px);
}

.cta-btns>a{
    padding: 14px 30px;
    font-weight: bold;
}

.cta-btns>a:hover{
    transform: translateY(-4px);
}

.feature-item>i{
    color: var(--color-yellow)!important;
    padding-right: 12px;
    font-size: 19px;
}

.cta-btns{
    display: flex;
    flex-direction: column;
    column-gap: 20px;
}

.cta-btns a:nth-of-type(1){
    color: #ffffff!important;
    background-color: var(--color-yellow)!important;
}

.cta-btns a:nth-of-type(2){
    color: var(--color-yellow)!important;
}


.cta-btns a:nth-of-type(1):hover{
    background-color: var(--color-hover-yellow) !important;
}

.cta-btns a:nth-of-type(2):hover{
    background-color: var(--color-hover-yellow);
    color: var(--color-white) !important;
}

.floating-card{
    background-color: var(--color-dark);
    width: 90%;
    border-radius: 16px;
    display: flex;
    padding: 16px;
    position: absolute;
    bottom: -20px;
    animation: floating-card 5s ease-in-out infinite;
}

@keyframes floating-card {
    0%,100%{
        transform: translateY(0);
    }
    50%{
        transform: translateY(15px);
    }
}

.float-icon{
    width: 50px;
    height: 50px;
    border-radius: 10px;
    background-color: #2F322C;
    display: flex;
    justify-content: center;
    align-items: center;
}

.float-icon>i{
    color: var(--color-yellow)!important;
    font-size: 24px;
}

.float-context span:nth-of-type(1){
    font-size: large;
    color: var(--color-yellow)!important;
    font-weight: bold;
}

.float-context span:nth-of-type(2){
    color: var(--color-ash)!important;
    font-size: 14px;
}

.content-container-secondary{
    position: relative;
    display: flex;
    justify-content: center;
    align-items: center;
    z-index: 10;
}

.decoration{
    position: absolute;
    inset: 0;
    pointer-events: none;
    overflow: hidden;
    z-index: 2;
}

.circle1,.circle2{
    background-color: var(--color-dark);
    border-radius: 50%;
}

.circle1{
    position: absolute;
    width: 300px;
    height: 300px;
    top: -150px;
    right: -150px;
    opacity: 0.5;
}

.circle2{
    position: absolute;
    width: 300px;
    height: 300px;
    bottom: -150px;
    left: -150px;
    opacity: 0.5;
}


/* testimonial section */

#testimonials{
    width: 100%;
    background-color: var(--color-navy);
    display: flex;
    justify-content: center;
}

.testimonial-container{
    width: var(--width-common);
}

.carousel-item{
    background-color: #16262F;
    border-radius: 20px;
    padding: clamp(18px,10%,36px) !important;
}

.carousel-item h3{
    color: var(--color-white) !important;
    font-size: 26px;
}

.carousel-item p{
    font-style: italic;
    color: var(--color-nav-text)!important;
    padding: 10px 0px;
    line-height: 30px;
}

.testimonial-info{
    display: flex;
}

.testimonial-info>img{
    height: 60px;
    width: 60px;
    border-radius: 50%;
}

.testimonial-img-info>img{
    width: 100%;
    height: 100%;
}

/* portfolio section */

#portfolio,#team{
    width: 100%;
    display: flex;
    flex-direction: column;
    align-items: center;
}

.headline-ctnr,.team-ctnr{
    width: var(--width-common);
}

.category-ctnr{
    display: flex;
    justify-content: center;
    flex-wrap: wrap;
    margin: 30px 0px;
}

.category-ctnr>li{
    list-style: none;
    background-color: var(--color-dark);
    padding: 10px 20px;
    border-radius: 20px;
    width: max-content;
    margin: 5px 10px;
    transition: all 0.5s ease-in-out;
}

.category-ctnr>li:hover{
    color: var(--color-yellow)!important;
    transform: translateY(-3px);
    cursor: pointer;
}

.category-ctnr>li:hover i{
    color: var(--color-yellow)!important;
    transform: scale(1.1);
}

.category-ctnr>li>i{
    margin-right: 15px;
    display: inline-block;
    transition: all 0.5s ease-in-out;
}

#activee{
    background-color: var(--color-yellow);
    color: var(--color-white)!important;
}

#activee>i{
    color: var(--color-white)!important;
}

#categoryLists{
    padding: 0 30px;
    row-gap: 20px;
    width: 100%;
}


.category-card{
    position: relative;
    transition: all 0.5s ease-in-out;
    overflow: hidden;
    cursor: pointer;
}

.entry-overlay{
    display: none;
    width: 100%;
    height: 100%;
    transition: all 0.5s ease-in-out;
}

.category-card>img{
    transition: all 0.5s ease-in-out;
}

.category-card:hover>img{
    transform: scale(1.1);
}


.category-card:hover .entry-overlay{
    display: flex;
    align-items: flex-end;
    position: absolute;
    inset: 0;
    background:linear-gradient(180deg, transparent 0%, rgba(0, 0, 0, 0.8) 100%) ;
}


.overlay-context{
    transition: all 0.4s ease-in-out;
    transform: translateY(-20px);
}

.entry-links{
    display: flex;
    column-gap: 20px;
}

.entry-links a{
    text-decoration: none;
}

.entry-links i{
    display: inline-block;
    height: 50px;
    width: 50px;
    display: flex;
    justify-content: center;
    align-items: center;
    background-color: var(--color-dark);
    border-radius: 10px;
    color: var(--color-yellow)!important;
    transition: all 0.3s ease-in-out;
}

.entry-links i:hover{
    color: var(--color-white) !important;
    background-color: var(--color-yellow);
}

/* team section */

.team-section{
    background-color: var(--color-navy);
}

.member-ctnr,.member-img{
    width: var(--width-common);
}



.member-wrapper{
    margin-bottom: 20px;
}


.each-member{
    display: flex;
    flex-direction: column;
    margin: 4% 0;
    border: 1px solid rgb(76, 75, 75);
    background-color: var(--color-dark);
    border-radius: 10px;
    transition: all 0.3s ease-in-out;
}

.each-member:hover{
    border-color: var(--color-yellow);
}

.member-img{
    width: fit-content;
}

.member-img>img{
    width:12rem;
    height: 100%;
    border-top-left-radius: 10px;
    border-bottom-left-radius: 10px;
}

.member-info>h3{
    font-size: 20px;
}


.member-info>span,p{
    color: var(--color-ash) !important;
    font-size: 14px;
}

.social{
    display: flex;
    column-gap: 15px;
}

.social>a{
    width: 30px;
    height: 30px;
    border-radius: 5px;
    border: 1px solid rgb(56, 56, 56);
    display: inline-flex;
    justify-content: center;
    align-items: center;
    transition: all 0.2s ease-in-out;
}

.social>a:hover i{
    color: var(--color-yellow) !important;
}

.social>a:hover{
    border-color: var(--color-yellow) !important;
}

/* price section */

.pricing-card{
    background-color: var(--color-dark);
    border-radius: 15px;
    margin: 10px 0;
    position: relative;
    overflow: hidden;
    transition: all 0.4s ease-in-out;
}

.pricing-card:hover{
    transform: translateY(-10px);
}

.popular{
    border: 2px solid var(--color-yellow);
}

.regular{
    border: 1px solid rgb(100, 99, 99);
}

.popular-tag{
    background-color: var(--color-yellow);
    padding: 5px 40px;
    width: max-content;
    position: absolute;
    top: 30px;
    right: -40px;
    transform: rotate(45deg);
}
.plan-header{
    padding: 40px 30px 30px;
    display: flex;
    flex-direction: column;
    align-items: center;
}

.plan-header>h3{
    font-size: 23px;
    font-weight: 600;
}

.plan-icon{
    display: flex;
    justify-content: center;
    align-items: center;
    width: 70px;
    height: 70px;
    background-color: rgba(255, 204, 0,0.1);
    border-radius: 50%;
    font-size: 26px;
}

.plan-icon>i{
    color: var(--color-yellow)!important;
}

.plan-pricing{
    padding: 5px 30px 30px;
}

.price{
    font-weight: bold;
    text-align: center;
}

.price .currency{
    vertical-align: top;
    line-height: 1;
    font-size: 24px;
}

.amount{
    font-size: 50px;
    line-height: 1;
}

.period{
    color: var(--color-ash) !important;
}


.plan-features ul{
    list-style-type: none;
    line-height: 3rem;
}
.each-feature{
    color: var(--color-ash) !important;
}
.each-feature>i{
    color: var(--color-yellow)!important;
    font-size: 20px;
    padding-right: 10px;
}

.disabled{
    color: gray !important;
}

.disabled>i{
    color: gray !important;
    font-size: 20px;
    padding-right: 10px;
}

.plan-ctnr{
    padding: 15px 30px 40px;
}

.plan-ctnr>a{
    display: block;
    padding: 10px 20px;
    background-color: var(--color-yellow);
    width: 100%;
    border-radius: 20px;
    text-decoration: none;
    text-align: center;
    font-weight: bold;
    color: #ffffff !important;
}

.plan-ctnr>a:hover{
    background-color: rgba(255, 174, 0,0.7);
}

.btn-plan{
    background-color: rgba(67, 67, 67,0.3) !important;
}

.btn-plan:hover{
    background-color: rgba(123, 122, 122,0.6) !important;
}

/* faq section */

.faq-context>h2{
    font-weight: 700;
    font-size: 40px;
}

.faq-context>p{
    color: var(--color-white) !important;
    font-size: 16px;
    padding: 20px 0;
}

.faq-img>img{
    width: 60%;
    height: auto;
}


#accordionPanelsStayOpenExample{
    --bs-accordion-color: var(--color-dark) !important;
    --bs-accordion-bg: var(--color-dark) !important;
    --bs-accordion-border-color:none;
    --bs-accordion-btn-focus-box-shadow:none;
    display: flex;
    flex-direction: column;
    row-gap: 20px;
}

.accordion-item{
    border-radius: 15px !important;
}


.accordion-header{
    --bs-accordion-active-bg:var(--color-dark) !important;
}


/* 1. Hover state (even if not opened yet) */
.accordion-button:hover::after {
  filter: brightness(0) saturate(100%) invert(69%) sepia(64%) saturate(828%) hue-rotate(2deg) brightness(97%) contrast(98%);
}

/* 2. When it's open (not collapsed), make the arrow yellow */
.accordion-button:not(.collapsed)::after {
  filter: brightness(0) saturate(100%) invert(69%) sepia(64%) saturate(828%) hue-rotate(2deg) brightness(97%) contrast(98%);
}

.accordion-button:not(.collapsed){
    color: var(--color-yellow) !important;
}


@media (max-width:393px){
    *{
        font-size: 98% !important;
    }
    .campaign-text>span{
        font-size: 10vw !important;
    }
    .portfolio-link i{
        padding: 5px 7.5px;
    }
}

@media (max-width:576px){
    .member-img>img{
        width: 100%;
        border-top-right-radius: 10px;
        border-bottom-left-radius: 0;
    }
    .member-info{
        display: flex;
        flex-direction: column;
        align-items: center;
        text-align: center;
    }
}

@media (min-width:576px) {
    .features{
        display: flex;
        column-gap: 20px;
    }
    .cta-btns{
        flex-direction: row;
    }
    .each-member{
        flex-direction: row;
        margin: 0;
    }
}

@media (min-width: 768px) {
  .each-card {
    flex: 0 0 9%;
  }
}


@media (max-width:991px) {
    .btn-container{
        display: block;
    }
    #getstartedBtn{
        display: none;
    }
    .service-context>h3{
        padding-bottom: 28px;
    }
    .steps-wrapper::before{
        left:29px;
    }
}

@media (min-width:992px) {
    .btn-container{
        display: none;
    }

    #getstartedBtn{
        margin-left: 20px !important;
    }

    .navbar-collapse{
        flex-grow: 0 !important;
        flex-basis: 0 !important;
    }

    .nav-item{
        padding: 0% 1% !important;
        color: var(--color-ash)!important;
    }
    .nav-item .active{
        color: var(--color-yellow) !important;
    }
    .home-container{
        flex-direction: row;
    }
    .campaign-container{
        width: max-content;
        background:rgba(255, 255, 255, 0.1);
        backdrop-filter: blur(10px);
        -webkit-backdrop-filter: blur(10px);
        position: absolute;
        bottom: 20px;
        right: 0px;
    }
    .abstract-img{
        height: 94%;
    }

    .home-top{
        height: 100%;
        display: flex;
        flex-direction: column;
        justify-content: space-around;
    }

    .about-content-container{
        display: flex;
        align-items: center;
    }

    .about-context{
        padding-left:3% !important;
        display: flex;
        flex-direction: column;
        justify-content: space-evenly;
    }

    .step-card:nth-child(even){
        flex-direction: row-reverse;
    }
    .floating-card{
        width: max-content;
        bottom: 80px;
        right: -20px;
    }
    .content-container-secondary>img{
        height: 80%;
    }
}

